doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    |
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    |
    meta(name="description", content="")
    |
    meta(name="author", content="")
    |
    title MasterPlace
    // Bootstrap core CSS
    link(href="vendor/bootstrap/css/bootstrap.min.css", rel="stylesheet")
    // Custom styles for this template
    link(href="css/modern-business.css", rel="stylesheet")
    |
    link(href="css/www_rate_calc_frame.css", rel="stylesheet", title="stylesheet", type="text/css")
  |
  body
    // Navigation
    nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container
        a.navbar-brand(href="mainplace.html") MasterPlace
        |
        button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#navbarResponsive", aria-controls="navbarResponsive", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        |
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              input(type="text", name="search", placeholder="Search Rewards")
            |
            li.nav-item
              a.nav-link(href="contact.html") Support
            |
            li.nav-item.dropdown
              a.nav-link(href="#") Blog
            |
            li.nav-item.dropdown
            if user
              a.nav-link(href="#") Welcome, #{user.userName}
            else
              a.nav-link(href="#") Log In
    //
      Banner--<div class="banner">
      <img src="images/mastercardad.jpg" width="900" height="400">
      </div>
    // Profile
    .profile(align="right")
      ul#user(style="left: 40px; text-align: left;margin-top: 40px; padding-left: 20px; margin-bottom: 20px;font-size: 20px")
        img(src="http://www.piedpiper.com/app/themes/pied-piper/dist/images/bighead.png", width="60px")
        |  #{user.userName}
      |
      hr
      |
      ul#card1.cardList(style="text-align: left")
        img(src="https://www.key.com/kco/images/apply-keybank-mastercard-large.png", width="100px")
        a#card1Point.pointAmt #{user.bankA_points} pts
      |
      |
      ul#card1.cardList(style="text-align: left")
        img(src="https://www.citi.com/CRD/images/card_no_reflection/citi-secured-credit-card.jpg")
        a#card2Point.pointAmt #{user.bankB_points} pts
      |
      |
      ul#card1.cardList(style="text-align: left")
        img(src="https://www.suntrust.com/Static/Images/personal-banking/card-art/check-cards/debit-delta-skymiles-world-mastercard-651x412.png")
        a#card3Point.pointAmt #{user.airlineA_miles} miles
      |
      |
      ul#card1.cardList(style="text-align: left")
        img(src="https://www.barclaycardus.com/apply/img/lft/lftCardArtMNM.png")
        a#card3Point.pointAmt #{user.airlineB_miles} miles
    |
    // Catalogue
    section#our-feature.sections
      .container
        .heading
          .title.text-center.arrow-left
            img.hidden-xs(src="assets/images/left-arrow.png", alt="")
            |
            .feature-wrapper
              .row
                .col-md-4.col-sm-6.col-xs-12
                  .features-content.active
                    a(href="redeemlist.html")
                      img(src="images/citi.png", width="200", height="320")
                |
                .col-md-4.col-sm-6.col-xs-12
                  .features-content
                    img(src="images/BoW2.png", width="200", height="320")
                |
                .col-md-4.col-sm-6.col-xs-12
                  .features-content
                    img(src="images/suntrust2.png", width="200", height="320")
                |
                .col-md-4.col-sm-6.col-xs-12
                  .features-content
                    img(src="images/Rewards1.png", width="200", height="320")
                |
                .col-md-4.col-sm-6.col-xs-12
                  .features-content
                    img(src="images/Rewards2.png", width="200", height="320")
                |
                .col-md-4.col-sm-6.col-xs-12
                  .features-content
                    img(src="images/Rewards3.png", width="200", height="320")
                |
                .col-md-4.col-sm-6.col-xs-12
                  .features-content
                    img(src="images/key-bank.png", width="100", height="100")
                |
                .col-md-4.col-sm-6.col-xs-12
                  .features-content
                    img(src="images/peoples-united.png", width="100", height="100")
                |
                .col-md-4.col-sm-6.col-xs-12
                  .features-content
                    img(src="images/suntrust.png", width="100", height="100")
                |
                .col-md-4.col-sm-6.col-xs-12
                  .features-content
                    img(src="images/usbank.png", width="100", height="100")
                |
                .col-md-4.col-sm-6.col-xs-12
                  .features-content
                    img(src="images/first-premier_en-us.jpg", width="100", height="100")
                |
                .col-md-4.col-sm-6.col-xs-12
                  .features-content
                    img(src="images/bmo_v3.png")
            |
            |
            hr
            // /.container
            // Footer
            footer.py-5.bg-dark
              .container
                p.m-0.text-center.text-white Copyright © MasterPlace Money20/20 Hackathon 2017
              // /.container
            // Bootstrap core JavaScript
            script(src="vendor/jquery/jquery.min.js")
            |
            script(src="vendor/bootstrap/js/bootstrap.bundle.min.js")
            |
            script(src="assets/js/vendor/jquery-1.11.2.min.js")
            |
            script(src="assets/js/vendor/bootstrap.min.js")
