doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    |
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    |
    meta(name="description", content="")
    |
    meta(name="author", content="")
    |
    title MasterPlace
    // Bootstrap core CSS
    link(href="vendor/bootstrap/css/bootstrap.min.css", rel="stylesheet")
    // Custom styles for this template
    link(href="css/modern-business.css", rel="stylesheet")
    |
    link(href="css/www_rate_calc_frame.css", rel="stylesheet", title="stylesheet", type="text/css")
  |
  body
    // Navigation
    nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
      .container
        a.navbar-brand(href="page2.html") MasterPlace
        |
        button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#navbarResponsive", aria-controls="navbarResponsive", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        |
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              input(type="text", name="search", placeholder="Search Rewards")
            |
            li.nav-item
              a.nav-link(href="contact.html") Support
            |
            li.nav-item.dropdown
              a#navbarDropdownBlog.nav-link.dropdown-toggle(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                | Blog
              |
              .dropdown-menu.dropdown-menu-right(aria-labelledby="navbarDropdownBlog")
                a.dropdown-item(href="blog-home-1.html") Blog Home 1
                |
                a.dropdown-item(href="blog-home-2.html") Blog Home 2
                |
                a.dropdown-item(href="blog-post.html") Blog Post
            |
            li.nav-item.dropdown
              a#navbarDropdownBlog.nav-link.dropdown-toggle(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                | Log Out
              |
              .dropdown-menu.dropdown-menu-right(aria-labelledby="navbarDropdownBlog")
                a.dropdown-item(href="full-width.html") Full Width Page
                |
                a.dropdown-item(href="sidebar.html") Sidebar Page
                |
                a.dropdown-item(href="faq.html") FAQ
                |
                a.dropdown-item(href="404.html") 404
                |
                a.dropdown-item(href="pricing.html") Pricing Table
    // Profile
    .profile(align="right")
      ul#user(style="left: 40px; text-align: left;margin-top: 40px; padding-left: 20px; margin-bottom: 20px;font-size: 20px")
        img(src="http://www.piedpiper.com/app/themes/pied-piper/dist/images/bighead.png", width="60px")
        |  #{user.userName}
      |
      hr
      |
      ul#card1.cardList(style="text-align: left")
        img(src="https://www.key.com/kco/images/apply-keybank-mastercard-large.png", width="100px")
        a#card1Point.pointAmt #{user.bankA_points} pts
      |
      |
      ul#card1.cardList(style="text-align: left")
        img(src="https://www.citi.com/CRD/images/card_no_reflection/citi-secured-credit-card.jpg")
        a#card2Point.pointAmt #{user.bankB_points} pts
      |
      |
      ul#card1.cardList(style="text-align: left")
        img(src="https://www.suntrust.com/Static/Images/personal-banking/card-art/check-cards/debit-delta-skymiles-world-mastercard-651x412.png")
        a#card3Point.pointAmt #{user.airlineA_miles} miles
      |
      |
      ul#card1.cardList(style="text-align: left")
        img(src="https://www.barclaycardus.com/apply/img/lft/lftCardArtMNM.png")
        a#card3Point.pointAmt #{user.airlineB_miles} miles
    |
    |
    style.
      /* The Modal (background) */
      .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      }
      /* Modal Content */
      .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      }
      /* The Close Button */
      .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      }
      .close:hover,
      .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
      }
    body
      style.
        h2 {
        padding-left:110px;
        padding-top:30px;
        }
        img{
        padding-left:100px;
        }
      h2 My Rewards
      img(src="images/bladeRunner.png")
      img(src="images/Rewards1.png")
      // /.container
      // Footer
      // Bootstrap core JavaScript
      script(src="vendor/jquery/jquery.min.js")
      |
      script(src="vendor/bootstrap/js/bootstrap.bundle.min.js")
      |
      script(src="assets/js/vendor/jquery-1.11.2.min.js")
      |
      script(src="assets/js/vendor/bootstrap.min.js")
